<% content_for :imagen do %>
<div class="row">
  <div class="col-md-10 col-md-offset-2"><%= image_tag "qs.png", :size => "800x100", :class => "img-responsive" %></div>
</div>
<% end %>
<%= @titulo ||= "Curso Ruby on Rails" %>