    <div class="row">
      <div class="col-md-4">
        <div class="jumbotron">
        <h3>¿Quienes somos?</h3>
        <p>Bla bla bla</p>
        <%= link_to "Más", {:action=>"quienes_somos"}, :class=>"btn btn-default" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="jumbotron">
        <h3>Servicios</h3>
        <p>Bla bla bla</p>
        <%= link_to "Más", {:action=>"servicios"}, :class=>"btn btn-default" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="jumbotron">
        <h3>Contacto</h3>
        <p>Bla bla bla</p>
        <%= link_to "Más", {:action=>"contacto"}, :class=>"btn btn-default" %>
        </div>
      </div>
    </div>