    <div class="row jumbotron">
      <div class="col-md-4">
        <h3>Libro Ruby on Rails</h3>
        <p>Autor: Santiago Ponce</p>
        <p></p>
        <%= button_to "Entrar", {:action=>"index"}, :method=>"get", :class=>"btn btn-lg btn-primary" %>
      </div>
      <div class="col-md-8">
        <%= image_tag "picture.png", :size=>"500x500", :alt=>"banner", :class=>"img-rounded img-responsive" %>
      </div>
    </div>