    <nav class="navbar navbar-default navbar-static-bottom">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">RoR</a>
        </div>
        <div class="collapse navbar-collapse">
          <p class="navbar-text navbar-right">Sitio Web <%= Time.new.year %></p>
        </div>
      </div>
    </nav>